@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project's purpose is to test how functional domain (F#) will work with C# MVC application.</p>
<p>Expected issues:
    <ul>
    <li>Immmutability vs ORM proxies</li>
    <li>?</li>
    </ul> 
</p>
<p>Expected wins:
    <ul>
        <li>FUN</li>
    </ul>
</p>

